.card-control {
  table.srs-apv-channel-table {
    tr {
      border: none;
    }
    tr.channel {
      th { padding: 5px 5px 1px 5px; }
    }
    tr.subchannel {
      th { padding: 1px 5px 5px 5px; }
    }
    th {
      padding: 5px;
    }
    th, td {
      text-align: center;
    }
    td {
      padding: 0 !important;
    }
  }
}
input[type="checkbox"].no-label + span {
  width: 20px;
  padding-left: 0px;

  &::before {

  }
}
