@import 'srs';
$gap: 10px;

.width-container {
  max-width: 1300px;
  margin: auto;
}

.tabs.center {
  text-align: center;
  vertical-align: middle;
}
.tabs .tab {
  float: unset !important;

  // a {
  //   padding: 0 38px;
  //   position: relative;
  // } 
  span.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    i {
      line-height: unset;
    }
  }

  span.status-indicator::after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
  }
  &[data-value="inactive"] {
    a {
      font-style: italic;
    }
    span.status-indicator::after {
      content: "link_off";
    }
  }
} 

.compact-row {
  margin-bottom: 0px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
.col .compact-row {
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.equal-col {
  display: flex;
  flex-wrap: wrap;

  >.col {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }
}
.compact-row-flex {
  margin-left: -.75rem;
  margin-right: -.75rem;
  display: flex;

  .fcol {
    padding: 0 .75rem;

    &.center {
      align-self: center;
      text-align: center;
    }

    @for $i from 1 through 12 {
      &.s#{$i} {
        width: $i / 12 * 100%;
      }
    }
  }

}

.card.channel {
  color: white;
}

.card {
  .card-header {
    &.has-toggle {
      display: grid;
      grid-template-columns: auto 115px;
      column-gap: $gap;
      &.wide-toggle {
        grid-template-columns: auto 200px;
      }
    }
    padding: 10px 12px 10px 12px;

    &.has-status {
      grid-template-columns: auto 20px 85px;

      > span:first-of-type {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      span.output.hv-status {
        position: relative;
      }
      span.output.hv-status::after {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        position: absolute;
        bottom: -12px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
      }
      span.output.hv-status {
        &[data-value="DISABLED"]::after {
          content: "hide_source";
        }
        &[data-value="OFF"]::after {
          content: "power_off";
        }
        &[data-value="ON"]::after {
          content: "flash_on";
        }
        &[data-value="KILLED"]::after {
          content: "gpp_bad";
        }
        &[data-value="RAMPING_UP"]::after {
          content: "arrow_upward";
        }
        &[data-value="RAMPING_DOWN"]::after {
          content: "arrow_downward";
        }
        &[data-value="TRIPPED"]::after {
          content: "error_outline";
        }
        &[data-value="OVER_CURRENT"]::after,
        &[data-value="OVER_VOLTAGE"]::after,
        &[data-value="MAX_VOLTAGE"]::after,
        &[data-value="OVER_POWERED"]::after {
          content: "offline_bolt";
        }
        &[data-value="OVER_TEMPERATURE"]::after {
          content: "thermostat";
        }
        &[data-icon]::after {
          content: attr(data-icon);
        }
      }
    }

    span {
      font-size: 24px;
      font-weight: 300;
      align-self: center;
      &.channel1 { color: #ffff00 !important; }
      &.channel2 { color: #00ffff !important; }
      &.channel3 { color: #ff00ff !important; }
      &.channel4 { color: #00ff00 !important; }
    }
    div.switch {
      align-self: center;
      justify-self: end;

      span.lever {
        margin: 0 0 0 8px;
      }
    }
    &.nogrid {
      display: inherit;
    }
  }

  .card-control {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 8px 12px;
    place-items: center;

    div.label {
      grid-column-start: 0;
      grid-column-end: span 2;
      text-align: center;
      position: relative;

      i.tooltipped {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 1rem;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
      }
    }
    input {
      color: white;
    }

    &.buttons-full-width {
      a.btn, button {
        width: 100%;
      }
    }
  }

  .card-control-row {
    border-top: 1px solid rgba(160,160,160,0.2);

    .card-control {
      border-top: 0;
    }
  }
}

.card-control {
  label {
    color: #ffffff;
  }

  input {
    text-align: center;
    height: 2rem !important;
    &.output[disabled] {
      color: white !important;
      border-bottom: 1px solid #9e9e9e !important;
      &.compact {
        border-bottom: none !important;
        height: unset !important;
      }
    }
    &.compact {
      margin: 0;
    }
    &.output.flag {
      &[value="0"] {
        background: #f44336;
      }
      &[value="1"] {
        background: #2e7d32;
      }
    }
  }
  input[type="range"] {
    margin: 0;
    border: 0;
  }
  // Select
  .select-wrapper {
    input {
      margin: 0;
      height: 2rem !important;
    }
    svg {
      fill: rgba(255, 255, 255, 0.87);
      margin: 0 !important;
    }
    select {
      display: none;
    }
  }

  table {
    tr {
      border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    }
    td {
      text-align: center;
      padding: 7px 5px !important;
      span.lever {
        margin: 0 5px;
      }
    }
  }

}

.range-input, .range-select, .range-slider {
  display: grid;
  grid-template-columns: 40px auto 40px;
  column-gap: $gap;
  place-items: center;

  // Slider
  .range-field {
    position: relative;
    margin: 0;
    display: grid;
  }
}

.fancy-input {
  position: relative;

  .edit-control {
    position: absolute;
    top: 0;
    margin: 0 0 8px 0;
    display: block;
    height: 2rem;
    font-size: 16px;
    box-sizing: content-box;
    line-height: 2;

    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }

    i {
      font-size: 1.3rem;
    }
  }
}

#playpause {
  &.play {
    .play { display: inline-block; }
    .pause { display: none; }
  }
  &.pause {
    .play { display: none; }
    .pause { display: inline; }
  }
}

.modal {
  .modal-header {
    span {
      font-size: 24px;
      text-align: center;
      width: 100%;
      display: block;
      padding: 0.2em;
    }
  }
}

.centergrid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  .card-reveal-trigger {
    padding-top: 2px;
    padding-bottom: 2px;

    a.activator {
      cursor: pointer;
    }
  }

  .card-reveal-nopad {
    padding: 0px;
    span.card-title {
      padding: 10px 12px 10px 12px;
    }
  }
}
