<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.rangeinputs.js') }}"></script>
  <link href="{{ url_for('static', filename='css/materialicons.font.css') }}" rel="stylesheet" />
  <title>{% block title %}Lab Control{% endblock %}</title>
  {% endblock %}
  {% block script %}
  {% endblock %}
</head>
<body>
  <nav class="teal nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Remote Lab</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% block nav_items %}{% endblock %}
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent center">
        {% block tabs %}{% endblock %}
      </ul>
    </div>
  </nav>
  <div class="width-container">
    {% block content %}{% endblock %}
  </div>
  <footer class="page-footer teal">
    <div class="footer-copyright">
     <div class="container">
       <div class="row">
         <div class="col s12 m6">
            {% block footer %}
            &copy; Copyright 2022 by Friedemann Neuhaus.
            {% endblock %}
          </div>
         <div class="col s12 m6 right-align">
            {% block footer_updated %}
            Last updated: <span id="last-updated">Never</span>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% block footer_script %}
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize_patch.js') }}"></script>
  {% endblock %}
  {% block modals %}
  {% endblock %}
</body>
</html>
