{% macro init_device(device) -%}
<script type="text/javascript">
  config["devices"].push({
    "id": "{{device["id"]}}",
  });
</script>
{%- endmacro %}

{% macro select(device, property, items, selected="", css="") -%}
<select data-path="{{device}}/{{property}}" class="property {{css}}">
  {% for value, caption in items %}
    <option value="{{ value }}"{% if value == selected %} selected{% endif %}>{{ caption }}</option>
  {% endfor %}
</select>
{%- endmacro %}


{% macro range_input(device, property, unit=None, min_value=None, max_value=None, step=None, dec=None,
disable_prefix=False, css="", no_buttons=False) -%}
  <input class="{% if not no_buttons %}range{% endif %} property unit-input{{css}}" type="text" data-path="{{device}}/{{property}}"
         {% if unit is not none %}data-unit="{{unit}}"{% endif %}
         value="0{% if unit is not none %} {{unit}}{% endif %}"
    {% if min_value is not none %}data-min-value="{{min_value}}"{% endif %}
    {% if max_value %}data-max-value="{{max_value}}"{% endif %}
    {% if step %} data-step="{{step}}"{% endif %}
    {% if dec is not none %} data-dec="{{dec}}"{% endif %}
    {% if disable_prefix %} data-disable-prefix="yes"{% endif %} />
{%- endmacro %}

{% macro range_select(device, property, items) -%}
  {{ select(device, property, items, css="range") }}
{%- endmacro %}

{% macro range_slider(device, property, min_value=0, max_value=100, scale=None) -%}
  <input class="property range" type="range" data-path="{{device}}/{{property}}" min="{{min_value}}" max="{{max_value}}"
         {% if scale %}data-scale="{{scale}}"{% endif %} />
{%- endmacro %}

{% macro hv_channel(ch, device="hv", channel_config={}, show_advanced=False) -%}
<div class="card blue-grey darken-1 white-text">
  <div class="card-header has-status has-toggle">
    <span title="{{ channel_config.get("name", "Channel {}".format(ch)) }}">{{ channel_config.get("name", "Channel {}".format(ch)) }}</span>
    <span class="output hv-status" data-path="{{device}}/channel{{ch}}/status" data-value="unknown"></span>
      <div class="switch">
        <label>Power
          <input type="checkbox" class="property" data-path="{{device}}/channel{{ch}}/enabled">
          <span class="lever"></span>
        </label>
      </div>
  </div>
  <div class="card-control">
    <div class="label">Voltage</div>
    {{ range_input(device, "channel{}/voltage".format(ch), unit="V", min_value=0,
    max_value=6000, step=10, disable_prefix=True, dec=0) }}
  </div>
  <div class="card-control">
    <div class="compact-row">
      <div class="col s12 m6">
        <div class="label">Measured Voltage</div>
        <input type="text" class="output" data-path="{{device}}/channel{{ch}}/measured_voltage"
         disabled value="0" data-unit="V" data-dec="2" />
      </div>
      <div class="col s12 m6">
        <div class="label">Measured Current</div>
        <input type="text" class="output" data-path="{{device}}/channel{{ch}}/measured_current"
        disabled value="0" data-unit="{{channel_config.get("measured_current_unit", "µA")}}"
        data-scale="{{channel_config.get("measured_current_scale", 1)}}" data-disable-prefix="yes"
        data-dec="{{channel_config.get("measured_current_dec", 3)}}" />
      </div>
    </div>
  </div>
  <!-- Advanced config settings -->
  <div class="card-control">
    <div class="compact-row">
      <div class="col s12 m6">
        <div class="label">Voltage Limit</div>
        <input type="text" class="property" data-path="{{device}}/channel{{ch}}/voltage_limit"
         value="0" data-unit="V" data-dec="2" />
      </div>
      <div class="col s12 m6">
        <div class="label">Current Limit</div>
        <input type="text" class="property" data-path="{{device}}/channel{{ch}}/current_limit"
         value="0" data-disable-prefix="yes" data-unit="µA" data-dec="2" />
      </div>
    </div>
  </div>
  <div class="card-control">
    <div class="compact-row">
      <div class="col s12 m6">
        <div class="label">Ramp Up Rate</div>
        <input type="text" class="property" data-path="{{device}}/channel{{ch}}/ramp_up_rate"
         value="0" data-unit="V/s" data-dec="1" />
      </div>
      <div class="col s12 m6">
        <div class="label">Ramp Down Rate</div>
        <input type="text" class="property" data-path="{{device}}/channel{{ch}}/ramp_down_rate"
         value="0" data-unit="V/s" data-dec="1" />
      </div>
    </div>
  </div>
  {% if show_advanced %}
    <div class="card-control card-reveal-trigger">
      <div class="center">
        <a class="activator orange-text">Advanced settings</a>
      </div>
    </div>
    <div class="card-reveal card-reveal-nopad teal">
      <span class="card-title white-text text-darken-4">
        <i class="material-icons right">close</i>Advanced settings
      </span>

      <div class="card-control">
        <div class="label">Monitoring range</div>
        {{ select(device, "channel{}/imon_range".format(ch), [("LOW", "Low (σ = 500pA, Imax = 30µA)"), ("HIGH", "High (σ = 5nA, Imax = 300µA)")]) }}
      </div>
      <div class="card-control">
        <div class="compact-row">
          <div class="col s12 m6">
            <div class="label">Trip time<i class="tooltipped"
                data-tooltip="Time before the channel is powered off, when the current limit is hit.">info</i></div>
            <input type="text" class="property" data-path="{{device}}/channel{{ch}}/trip_time"
             value="0" data-unit="s" data-dec="1" />
          </div>
          <div class="col s12 m6">
            <div class="label">Trip mode<i class="tooltipped" data-tooltip="How to react when the channel trips.">info</i></div>
            {{ select(device, "channel{{ch}}/power_down_mode", [("0", "Kill"), ("1", "Ramp down")]) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{%- endmacro %}
