{% extends "base.html" %}
{% block title %}Lab control{% endblock %}

{% block script %}
<script type="text/javascript">
  var config = {
    "mqtt": {
      "hostname": "{{config["mqtt"]["hostname"]}}",
      "port": "{{config["mqtt"]["port"]}}",
      {% if config["mqtt"].get("uris") is not none %}
      "uris": {{config["mqtt"]["uris"]|safe}},
      {% endif %}
    },
    "devices": []
  };
</script>
<script src="{{ url_for('static', filename='js/js-yaml.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/paho-mqtt-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lab.js') }}"></script>
<script src="{{ url_for('static', filename='js/srs.js') }}"></script>
{% endblock %}

{% block nav_items %}
<!--
<li>
  <a id="settings-button" data-target="#settings-modal">
    Settings
    <i class="material-icons right">settings</i>
  </a>
</li>
<li>
  <a id="load-config-button" class="modal-trigger" href="#load-config-modal">
    Load config
    <i class="material-icons right">file_upload</i>
  </a>
</li>
-->
{% endblock %}

{% block tabs %}
  {% for dev in devices.values() %}
  <li id="tab-{{dev["id"]}}" class="tab output" data-path="{{dev["id"]}}/status" data-value="inactive">
    <a href="#content-{{dev["id"]}}">{{dev["name"]}}</a>
  </li>
  {% endfor %}
{% endblock %}

{% block content %}
  {% for dev in devices.values() %}
    {% include "devices/" + dev["type"] + ".html" %}
  {% endfor %}
{% endblock %}

{% block modals %}
<div id="load-config-modal" class="modal">
  <div class="modal-content">
    <h4>Load config</h4>
    <p>Select a file to load</p>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input name="filename" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Abort</a>
    <a href="#!" class="modal-close load waves-effect waves-green btn-flat">Load</a>
  </div>
</div>
{% endblock %}
