{% import "macros.html" as macros %}


{{ macros.init_device(dev) }}
<div id="content-{{dev["id"]}}">
  <div class="row">
    {% for ch in range(6) %}
      {% set channel_config = dev.get("channels", {}).get(ch, {}) %}
    <div class="col s12 m6 l3">
      {{ macros.hv_channel(ch=ch, device=dev["id"], channel_config=channel_config) }}
    </div>
    {% endfor %}
  </div>
</div>
