{% import "macros.html" as macros %}


{{ macros.init_device(dev) }}
<div id="content-{{dev["id"]}}">
  <div class="row">
    {% for ch in range(4) %}
    {% set channel_config = dev.get("channels", {}).get(ch, {}) %}
    {% do channel_config.update({"measured_current_scale": 1000, "measured_current_dec": 1, "measured_current_unit": "nA"}) %}
    <div class="col s12 m6 l3">
      {{ macros.hv_channel(ch=ch, device=dev["id"], channel_config=channel_config, show_advanced=True) }}
    </div>
    {% endfor %}
  </div>
</div>
