{% import "macros.html" as macros %}


{{ macros.init_device(dev) }}
<div id="content-{{dev["id"]}}">
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header">
          <span>Discriminator</span>
        </div>
        <div class="card-control">
          <table>
            <tr>
              <td></td>
              <td>Enabled</td>
              <td>Threshold</td>
            </tr>
            {% for ch in range(16) %}
              {% set channel_config = dev.get("channels", {}).get(ch, {}) %}
              <tr>
                <td style="text-align: left">{{ channel_config.get("name", "Channel {}".format(ch)) }}</td>
                <td>
                  <div class="switch">
                    <label>
                      <input type="checkbox" class="bit-property" data-bit="{{ch}}" data-path="{{dev["id"]}}/inhibit_pattern" />
                      <span class="lever compact"></span>
                    </label>
                  </div>
                </td>
                <td>
                  <input class="property compact" type="text"
                  data-path="{{dev["id"]}}/channel{{ch}}/threshold" style="width: 150px;" />
                </td>
              </tr>
              {% endfor %}

          </table>
        </div>
      </div>
    </div>
    <div class="col s12 m3 l3">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header">
          <span>General</span>
        </div>
        <div class="card-control">
          <div class="label">Output width (0 = 5ns, 255 = 40ns)</div>
          {{ macros.range_input(dev["id"], "output_width".format(ch), min_value=0,
             max_value=255, step=1, disable_prefix=True, no_buttons=True) }}
        </div>
      </div>
    </div>
  </div>
</div>
