{% import "macros.html" as macros %}

{% macro and_channel(dev, ch) %}
<div class="card blue-grey darken-1 white-text">
  <div class="card-header">
    <span>AND {{ch.upper()}}</span>
  </div>
  {% for i in range(16) %}
    <div class="card-control right-align">
      <div class="switch">
        <label>Input {{i}}
          <input type="checkbox" class="bit-property" data-bit="{{i}}" data-path="{{dev["id"]}}/and_{{ch}}/mask">
          <span class="lever"></span>
        </label>
      </div>
    </div>
  {% endfor %}
</div>
{% endmacro %}

{% macro counts(dev) %}
<div class="card blue-grey darken-1 white-text">
  <div class="card-header">
    <span>Counts</span>
  </div>
  {% for i in range(0, 16, 1) %}
    <div class="card-control">
      <div class="compact-row">
        <div class="">
          <div class="label col s12 m6">Input {{i}}</div>
          <input type="text" class="output compact col s12 m6" data-path="{{dev["id"]}}/channel{{i}}/counts" disabled
          value="0" data-unit="" data-disable-prefix="yes" data-dec="0" />
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="card-control">
    <div class="compact-row">
      <div class="col s12 m6">
        <div class="label">AND A</div>
        <input type="text" class="output" data-path="{{dev["id"]}}/and_a/counts" disabled
        value="0" data-unit="" data-disable-prefix="yes" data-dec="0" />
      </div>
      <div class="col s12 m6">
        <div class="label">AND B</div>
        <input type="text" class="output" data-path="{{dev["id"]}}/and_b/counts" disabled
        value="0" data-unit="" data-disable-prefix="yes" data-dec="0" />
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{{ macros.init_device(dev) }}
{% if dev.get("channels") is not none %}
{% set channels = dev.get("channels") %}
{% else %}
{% set channels = {
  0: {}, 1: {}, 2: {}, 3: {}, 4: {}, 5: {}, 6: {}, 7: {}, 8: {}, 9: {}, 10: {}, 11: {},
  12: {}, 13: {}, 14: {}, 15: {}, 16: {"name": "G0"}, 17: {"name": "G1"} 
} %}
{% endif %}
<div id="content-{{dev["id"]}}">
  <div class="row">
    <div class="col l12">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header">
          <span>AND masks</span>
        </div>
        <div class="card-control" style="overflow: scroll">
        <table>
          <tr>
            <td></td>
            {% for ch, options in channels.items() %}
              {% if options.get("show", true) %}
                <td>{{options.get("name", "IN {}".format(ch))}}</td>
              {% endif %}
            {% endfor %}
            <td>Counts</td>
          </tr>
          {% for and_register in range(1, 5) %}
          <tr>
            <td style="font-weight: bold">&{{and_register}}</td>
            {% for ch, options in channels.items() %}
              {% if not options.get("show", true) %}{% continue %}{% endif %}
              <td>
                <div class="switch">
                  <label>
                    <input type="checkbox" class="bit-property" data-bit="{{ch}}" data-path="{{dev["id"]}}/and_{{and_register}}/mask" />
                    <span class="lever compact"></span>
                  </label>
                </div>
              </td>
            {% endfor %}
            <td><input type="text" class="output compact" disabled="disabled" style="width: 100px"
              data-path="{{dev["id"]}}/and_{{and_register}}/counts" value="0" /></td>
          </tr>
          {% endfor %}
          <tr>
            <td>Counts</td>
            {% for ch, options in channels.items() %}
              {% if not options.get("show", true) %}{% continue %}{% endif %}
            <td><input type="text" class="output compact" disabled="disabled" style="width: 100%" data-path="{{dev["id"]}}/input_{{ch}}/counts" value="0" /></td>
            {% endfor %}
            <td><a class="trigger waves-effect waves-light btn" style="overflow: hidden; text-overflow: ellipsis; line-break: anywhere;" data-path="{{dev["id"]}}/reset_counters">Reset counters</a></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header">
          <span>Outputs</span>
        </div>
        <div class="card-control">
          <div class="switch">
            <label>Enable counter updates
              <input type="checkbox" class="property" data-path="{{dev["id"]}}/update" />
              <span class="lever"></span>
            </label>
          </div>
        </div>
        <div class="card-control">
          <div class="label">G0 source</div>
          <select data-path="{{dev["id"]}}/output_0_source" class="property">
            <option value="1">AND 1</option>
            <option value="2">AND 2</option>
            <option value="4">AND 3</option>
            <option value="8">AND 4</option>
          </select>
        </div>
        <div class="card-control">
          <div class="label">G1 source</div>
          <select data-path="{{dev["id"]}}/output_1_source" class="property">
            <option value="1">AND 1</option>
            <option value="2">AND 2</option>
            <option value="4">AND 3</option>
            <option value="8">AND 4</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
