{% import "macros.html" as macros %}


{{ macros.init_device(dev) }}
<div id="content-{{dev["id"]}}">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header has-toggle">
          <span>MiniX</span>
            <div class="switch">
              <label>Power on
                <input type="checkbox" class="property" data-path="{{dev['id']}}/enabled">
                <span class="lever"></span>
              </label>
            </div>
        </div>
        <div class="card-control">
          <div class="label">Voltage</div>
          {{ macros.range_input(dev['id'], "voltage", unit="kV", min_value=10,
          max_value=40, step=1, disable_prefix=True) }}
        </div>
        <div class="card-control">
          <div class="label">Current</div>
          {{ macros.range_input(dev['id'], "current", unit="µA", min_value=5,
          max_value=200, step=1, disable_prefix=True) }}
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s12 m6">
              <div class="label">Measured Voltage</div>
              <input type="text" class="output" data-path="{{dev['id']}}/measured_voltage"
               disabled value="0" data-unit="kV" data-dec="2" />
            </div>
            <div class="col s12 m6">
              <div class="label">Measured Current</div>
              <input type="text" class="output" data-path="{{dev['id']}}/measured_current"
               disabled value="0" data-unit="µA" data-disable-prefix="yes" data-dec="3" />
            </div>
          </div>
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="label">Temperature</div>
            <input type="text" class="output" data-path="{{dev['id']}}/temperature"
             disabled value="0" data-unit="°C" data-disable-prefix="yes" data-dec="2" />
          </div>
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s12 m6">
              <div class="label">Interlock State</div>
              <input type="text" class="output flag" data-path="{{dev['id']}}/interlock_state"
               disabled value="0" data-unit="" data-disable-prefix="yes" data-dec="0" />
            </div>
            <div class="col s12 m6">
              <div class="label">Monitor Ready</div>
              <input type="text" class="output flag" data-path="{{dev['id']}}/monitor_ready"
               disabled value="0" data-unit="" data-disable-prefix="yes" data-dec="0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
