{% import "macros.html" as macros %}


{{ macros.init_device(dev) }}
<div id="content-{{dev["id"]}}">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header has-toggle">
          <span>MKS PR4000</span>
            <div class="switch">
              <label>Gas on
                <input type="checkbox" class="property" data-path="{{dev['id']}}/enabled">
                <span class="lever"></span>
              </label>
            </div>
        </div>
        <div class="card-control">
          <div class="label">Argon Flow</div>
          {{ macros.range_input(dev['id'], "1/flow", unit="SCCM", min_value=0,
          max_value=100, step=1, dec=2, disable_prefix=True) }}
        </div>
        <div class="card-control">
          <div class="label">CO2 Flow</div>
          {{ macros.range_input(dev['id'], "2/flow", unit="SCCM", min_value=0,
          max_value=100, step=1, dec=2, disable_prefix=True) }}
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s12 m6">
              <div class="label">Measured Argon Flow</div>
              <input type="text" class="output" data-path="{{dev['id']}}/1/measured_flow"
               disabled value="0" data-unit="SCCM" data-dec="2" />
            </div>
            <div class="col s12 m6">
              <div class="label">Measured CO2 Flow</div>
              <input type="text" class="output" data-path="{{dev['id']}}/2/measured_flow"
               disabled value="0" data-unit="SCCM" data-dec="2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
