{% import "macros.html" as macros %}

{% set num_timesteps = [("3", "3"), ("6", "6"), ("9", "9"), ("12", "12"), ("15", "15"), ("18", "18"), ("21", "21"), ("24", "24"), ("27", "27"), ("30", "30")] %}
{{ macros.init_device(dev) }}
{% set stub = dev["id"] %}
<div id="content-{{dev["id"]}}">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card blue-grey darken-1 white-text">
        <div class="card-header">
          <span>SRS for APV</span>
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s6">
              <div class="label">Trigger mode</div>
              {{ macros.select(dev['id'], "trigger_mode", [(0, "internal"), (4, "external")]) }}
            </div>
            <div class="col s6">
              <div class="label">Num timesteps</div>
              {{ macros.select(dev['id'], "num_timesteps", num_timesteps, selected="27") }}
            </div>
          </div>
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s12 m6">
              <div class="label">Trigger delay</div>
              <input class="property compact" type="text" data-path="{{dev["id"]}}/trigger_delay" />
            </div>
            <div class="col s12 m6">
              <div class="label">Testpulse delay</div>
              <input class="property compact" type="text" data-path="{{dev["id"]}}/testpulse_delay" />
            </div>
          </div>
        </div>
        <div class="card-control">
          <div class="compact-row">
            <div class="col s12 m6">
              <div class="label">Readout delay</div>
              <input class="property compact" type="text" data-path="{{dev["id"]}}/readout_delay" />
            </div>
            <div class="col s12 m6">
              <div class="label">Data length</div>
              <input class="property compact" type="text" data-path="{{dev["id"]}}/datalength" />
            </div>
          </div>
        </div>
        <div class="card-control">
          <div class="label">Channels enabled</div>
          <table class="srs-apv-channel-table">
            <thead>
              <tr class="channel">
                {% for i in range(8) %}<th colspan="2">HDMI{{i}}</th>{% endfor %}
              </tr>
              <tr class="subchannel">
                {% for i in range(8) %}
                <th class="tooltipped" data-tooltip="master">M</th>
                <th>S</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for i in range(8) %}
                  <td>
                    <label>
                      <input type="checkbox" class="bit-property filled-in no-label" data-bit="{{2 * i}}" data-path="{{stub}}/channels_enabled" />
                      <span class="tooltipped" data-tooltip="HDMI{{i}}<br>master"></span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="checkbox" class="bit-property filled-in no-label" data-bit="{{2 * i + 1}}" data-path="{{stub}}/channels_enabled" />
                      <span class="tooltipped" data-tooltip="HDMI{{i}}<br>slave"></span>
                    </label>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-control">
          <div style="display: flex; gap: 12px; ">
            <a style="flex-grow: 1" class="waves-effect waves-light btn"
              data-stub="{{stub}}" data-action="srs-initialize">Initialize</a>
            <a style="flex-grow: 1" class="trigger waves-effect waves-light btn" data-path="{{stub}}/readout_enable">Enabled readout</a>
            <a style="flex-grow: 1" class="trigger waves-effect waves-light red btn" data-path="{{stub}}/readout_disable">Disable readout</a>
            <a style="flex-grow: 1" class="waves-effect waves-light btn tooltipped" data-stub="{{stub}}" data-action="srs-load-config" data-tooltip="Load config">
              <i class="material-icons">file_upload</i>
            </a>
            <a style="flex-grow: 1" class="waves-effect waves-light btn tooltipped" data-stub="{{stub}}" data-action="srs-save-config" data-tooltip="Save config">
              <i class="material-icons">file_download</i>
            </a>
            <input id="{{stub}}-file-select" class="srs-file-select" data-stub="{{stub}}" type="file" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
