.card-control table.srs-apv-channel-table tr {
  border: none; }
.card-control table.srs-apv-channel-table tr.channel th {
  padding: 5px 5px 1px 5px; }
.card-control table.srs-apv-channel-table tr.subchannel th {
  padding: 1px 5px 5px 5px; }
.card-control table.srs-apv-channel-table th {
  padding: 5px; }
.card-control table.srs-apv-channel-table th, .card-control table.srs-apv-channel-table td {
  text-align: center; }
.card-control table.srs-apv-channel-table td {
  padding: 0 !important; }

input[type="checkbox"].no-label + span {
  width: 20px;
  padding-left: 0px; }

.width-container {
  max-width: 1300px;
  margin: auto; }

.tabs.center {
  text-align: center;
  vertical-align: middle; }

.tabs .tab {
  float: unset !important; }
  .tabs .tab span.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%; }
    .tabs .tab span.status-indicator i {
      line-height: unset; }
  .tabs .tab span.status-indicator::after {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga'; }
  .tabs .tab[data-value="inactive"] a {
    font-style: italic; }
  .tabs .tab[data-value="inactive"] span.status-indicator::after {
    content: "link_off"; }

.compact-row {
  margin-bottom: 0px; }
  .compact-row::after {
    content: "";
    display: table;
    clear: both; }

.col .compact-row {
  margin-left: -.75rem;
  margin-right: -.75rem; }

.equal-col {
  display: flex;
  flex-wrap: wrap; }
  .equal-col > .col {
    display: flex;
    flex-wrap: wrap; }
  .equal-col .card {
    width: 100%; }

.compact-row-flex {
  margin-left: -.75rem;
  margin-right: -.75rem;
  display: flex; }
  .compact-row-flex .fcol {
    padding: 0 .75rem; }
    .compact-row-flex .fcol.center {
      align-self: center;
      text-align: center; }
    .compact-row-flex .fcol.s1 {
      width: 8.3333333333%; }
    .compact-row-flex .fcol.s2 {
      width: 16.6666666667%; }
    .compact-row-flex .fcol.s3 {
      width: 25%; }
    .compact-row-flex .fcol.s4 {
      width: 33.3333333333%; }
    .compact-row-flex .fcol.s5 {
      width: 41.6666666667%; }
    .compact-row-flex .fcol.s6 {
      width: 50%; }
    .compact-row-flex .fcol.s7 {
      width: 58.3333333333%; }
    .compact-row-flex .fcol.s8 {
      width: 66.6666666667%; }
    .compact-row-flex .fcol.s9 {
      width: 75%; }
    .compact-row-flex .fcol.s10 {
      width: 83.3333333333%; }
    .compact-row-flex .fcol.s11 {
      width: 91.6666666667%; }
    .compact-row-flex .fcol.s12 {
      width: 100%; }

.card.channel {
  color: white; }

.card .card-header {
  padding: 10px 12px 10px 12px; }
  .card .card-header.has-toggle {
    display: grid;
    grid-template-columns: auto 115px;
    column-gap: 10px; }
    .card .card-header.has-toggle.wide-toggle {
      grid-template-columns: auto 200px; }
  .card .card-header.has-status {
    grid-template-columns: auto 20px 85px; }
    .card .card-header.has-status > span:first-of-type {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
    .card .card-header.has-status span.output.hv-status {
      position: relative; }
    .card .card-header.has-status span.output.hv-status::after {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      position: absolute;
      bottom: -12px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: 'liga'; }
    .card .card-header.has-status span.output.hv-status[data-value="DISABLED"]::after {
      content: "hide_source"; }
    .card .card-header.has-status span.output.hv-status[data-value="OFF"]::after {
      content: "power_off"; }
    .card .card-header.has-status span.output.hv-status[data-value="ON"]::after {
      content: "flash_on"; }
    .card .card-header.has-status span.output.hv-status[data-value="KILLED"]::after {
      content: "gpp_bad"; }
    .card .card-header.has-status span.output.hv-status[data-value="RAMPING_UP"]::after {
      content: "arrow_upward"; }
    .card .card-header.has-status span.output.hv-status[data-value="RAMPING_DOWN"]::after {
      content: "arrow_downward"; }
    .card .card-header.has-status span.output.hv-status[data-value="TRIPPED"]::after {
      content: "error_outline"; }
    .card .card-header.has-status span.output.hv-status[data-value="OVER_CURRENT"]::after, .card .card-header.has-status span.output.hv-status[data-value="OVER_VOLTAGE"]::after, .card .card-header.has-status span.output.hv-status[data-value="MAX_VOLTAGE"]::after, .card .card-header.has-status span.output.hv-status[data-value="OVER_POWERED"]::after {
      content: "offline_bolt"; }
    .card .card-header.has-status span.output.hv-status[data-value="OVER_TEMPERATURE"]::after {
      content: "thermostat"; }
    .card .card-header.has-status span.output.hv-status[data-icon]::after {
      content: attr(data-icon); }
  .card .card-header span {
    font-size: 24px;
    font-weight: 300;
    align-self: center; }
    .card .card-header span.channel1 {
      color: #ffff00 !important; }
    .card .card-header span.channel2 {
      color: #00ffff !important; }
    .card .card-header span.channel3 {
      color: #ff00ff !important; }
    .card .card-header span.channel4 {
      color: #00ff00 !important; }
  .card .card-header div.switch {
    align-self: center;
    justify-self: end; }
    .card .card-header div.switch span.lever {
      margin: 0 0 0 8px; }
  .card .card-header.nogrid {
    display: inherit; }
.card .card-control {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 8px 12px;
  place-items: center; }
  .card .card-control div.label {
    grid-column-start: 0;
    grid-column-end: span 2;
    text-align: center;
    position: relative; }
    .card .card-control div.label i.tooltipped {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 1rem;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: 'liga';
      -moz-osx-font-smoothing: grayscale; }
  .card .card-control input {
    color: white; }
  .card .card-control.buttons-full-width a.btn, .card .card-control.buttons-full-width button {
    width: 100%; }
.card .card-control-row {
  border-top: 1px solid rgba(160, 160, 160, 0.2); }
  .card .card-control-row .card-control {
    border-top: 0; }

.card-control label {
  color: #ffffff; }
.card-control input {
  text-align: center;
  height: 2rem !important; }
  .card-control input.output[disabled] {
    color: white !important;
    border-bottom: 1px solid #9e9e9e !important; }
    .card-control input.output[disabled].compact {
      border-bottom: none !important;
      height: unset !important; }
  .card-control input.compact {
    margin: 0; }
  .card-control input.output.flag[value="0"] {
    background: #f44336; }
  .card-control input.output.flag[value="1"] {
    background: #2e7d32; }
.card-control input[type="range"] {
  margin: 0;
  border: 0; }
.card-control .select-wrapper input {
  margin: 0;
  height: 2rem !important; }
.card-control .select-wrapper svg {
  fill: rgba(255, 255, 255, 0.87);
  margin: 0 !important; }
.card-control .select-wrapper select {
  display: none; }
.card-control table tr {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2); }
.card-control table td {
  text-align: center;
  padding: 7px 5px !important; }
  .card-control table td span.lever {
    margin: 0 5px; }

.range-input, .range-select, .range-slider {
  display: grid;
  grid-template-columns: 40px auto 40px;
  column-gap: 10px;
  place-items: center; }
  .range-input .range-field, .range-select .range-field, .range-slider .range-field {
    position: relative;
    margin: 0;
    display: grid; }

.fancy-input {
  position: relative; }
  .fancy-input .edit-control {
    position: absolute;
    top: 0;
    margin: 0 0 8px 0;
    display: block;
    height: 2rem;
    font-size: 16px;
    box-sizing: content-box;
    line-height: 2; }
    .fancy-input .edit-control.left {
      left: 0; }
    .fancy-input .edit-control.right {
      right: 0; }
    .fancy-input .edit-control i {
      font-size: 1.3rem; }

#playpause.play .play {
  display: inline-block; }
#playpause.play .pause {
  display: none; }
#playpause.pause .play {
  display: none; }
#playpause.pause .pause {
  display: inline; }

.modal .modal-header span {
  font-size: 24px;
  text-align: center;
  width: 100%;
  display: block;
  padding: 0.2em; }

.centergrid {
  display: grid;
  justify-items: center;
  align-items: center; }

.card .card-reveal-trigger {
  padding-top: 2px;
  padding-bottom: 2px; }
  .card .card-reveal-trigger a.activator {
    cursor: pointer; }
.card .card-reveal-nopad {
  padding: 0px; }
  .card .card-reveal-nopad span.card-title {
    padding: 10px 12px 10px 12px; }

/*# sourceMappingURL=style.css.map */
